[Desktop Entry]
Type=Application
Version=1.0
Name=Install AcreetionOS-XFCE
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=sudo /usr/bin/calamares2.sh
Icon=/usr/share/icons/storm os.png
Terminal=false
StartupNotify=false
Type=Application
Categories=Qt;System;Desktop
Path=
