[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS_Python_Manager
Comment=fix missing python dependencies
Exec=/usr/bin/pdetect
Icon=ipython
Path=
Terminal=true
StartupNotify=false
