[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS_Browser
Comment=
Exec=/usr/bin/sbrowserv3
Icon=google-chrome-notification
Path=
Terminal=false
StartupNotify=false
