[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS_Download_Manager
Comment=download manager
Exec=/usr/bin/StormOS_Download_Manager
Icon=application-x-partial-download
Path=
Terminal=false
StartupNotify=false
