[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/test/Desktop/stormos-kernel-manager.desktop]
row=1
col=0

[/home/test/Desktop/StormOS_mirrors.desktop]
row=2
col=0

[/home/test/Desktop/stormos_video_recorder.desktop]
row=0
col=0

[/home/test/Desktop/system-tool.desktop]
row=3
col=0

